*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
/target/
/spring-aop/target/
/spring-core/target/
/spring-aop/.idea/
/spring-core/.idea/
/.idea/
/.git/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
